/*	=	Select */
.slct {
	display: block;
	border: 1px solid #CCCCCC;
	background-color: #F6F6f6;
	width: 130px;
	padding: 6px 15px 8px 15px;
	color: #444;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
	margin-top: -8px;
	font-size: 14px;
}
.slct.active {
	border-bottom: none;
}
.select .drop {
	margin: 0;
	padding: 0;
	width: 160px;
	border: 1px solid #cecece;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
	z-index: 999;
}
.select .drop li {
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	display: block;
	color: #444;
	padding: 8px 15px 8px 5px;
	background-position: 10px -119px;
}
.select .drop li:hover {
	background-color: #e8e8e8;
	color: #222;
}
.select .drop li a {padding-left: 10px; text-decoration: none;}
.select .drop li a.active {text-decoration: underline;}
.select .sort {
	background: rgba(0, 0, 0, 0) url("/pics/inputs/sort2.png") no-repeat scroll 0 0px;
	display: inline-block;
	width: 16px; 
	height: 8px;
	padding-right: 5px;

}
.select .sort.down {
	background: rgba(0, 0, 0, 0) url("/pics/inputs/sort2.png") no-repeat scroll 0 -8px;
	display: inline-block;
	width: 16px; 
	height: 8px;
	padding-right: 5px;

}
