* {margin: 0px; padding: 0px;}
HTML {height: 100%;}
BODY
{	font-family: Arial, sams-serif; font-size: 12px; line-height: 18px;
	height: auto !important; height: 100%; min-height: 100%; position: relative; margin: 0px; padding: 0px; background-color: #FFF;  color: #000;
}
BODY#tinymce {padding: 10px}
IMG {display: block;}
A IMG {border: none;}
A {color:#000;}
A:hover {color: #000;}

H1 {margin: 10px 0px; font-size: 20px; line-height: 24px; font-weight: lighter; color: #000;}
H2 {margin: 10px 0px; font-size: 18px; line-height: 24px; font-weight: lighter; color: #000;}
H3 {margin: 10px 0px; font-size: 16px; line-height: 18px; font-weight: lighter; color: #000;}

.photogallery {border: 1px dashed #CCCCCC; padding: 10px;}
.photogallery IMG {
	display: inline-block;
    height: 87px;
    padding: 3px;
    margin: 5px;
    width: 130px;
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.photogallery a {
    background: none repeat scroll 0 0 #f1f1f1;
    display: block;
    height: 87px;
    overflow: hidden;
    text-align: center;
    width: 130px;
}
.photogallery img {
    vertical-align: top; border: 0 none; max-width: 130px;
}


P {padding: 10px 0px;}

TABLE TH {vertical-align: top;}
TABLE TD {vertical-align: top;}

UL {list-style: none;margin:0;padding:0;}
UL, OL {margin: 10px 0px 10px 0px;}
UL LI {padding-left: 20px; background: url(/pics/i/ul.gif) 0px 9px no-repeat; position: relative;}
OL LI {margin: 10px 0px 0px 20px; background-image: none; padding: 0px;}
OL UL LI {background: url(/pics/i/ul.gif) 0px 10px no-repeat; padding-left: 20px; margin-left: 0px;}
OL UL, OL OL, UL UL, UL OL {margin: 0px 0px 0px 40px;}

.table-content a:active,
.table-content a:hover {
	color: #00796b;
	text-decoration:underline;
}
.table-content {border-spacing: 0px; width:100%; color:#666;font-size:12px;text-shadow: 1px 1px 0px #fff;background:#eaebec;	margin:0 auto;	border:#ccc 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	}
.table-content th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
	}
.table-content th:first-child{text-align: left;padding-left:20px;}
/*.table-content tr:first-child th:first-child{	-moz-border-radius-topleft:3px;	-webkit-border-top-left-radius:3px;	border-top-left-radius:3px;}
.table-content tr:first-child th:last-child{	-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}*/
.table-content tr{text-align: center; padding-left:20px;}
.table-content tr td:first-child{	text-align: left;padding-left:20px;border-left: 0;}
.table-content tr td {padding:18px;border-top: 1px solid #ffffff;border-bottom:1px solid #e0e0e0;border-left: 1px solid #e0e0e0;	background: #fafafa;background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);}
.table-content tr.even td{background: #f6f6f6;	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);}
.table-content tr:last-child td{	border-bottom:0;}
.table-content tr:last-child td:first-child{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;}
.table-content tr:last-child td:last-child{-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}
.table-content tr:hover td{background: #f2f2f2;background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);}

ground:#f7f7f7;}
.odd {}

.up_down {width: 30px; float: left;}
.up_down a {margin: 0;}
.up_down .up
{
		   margin-top: 15px;
		   width: 16px;
           height: 10px;
           display: block;
           background: url(/pics/up_down.png) no-repeat;
           background-position: 0px 0px;
}



a[title*="file"]				    	{background: url('/pics/file/file.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".doc"]   		{background: url('/pics/file/doc.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".docx"]  		{background: url('/pics/file/doc.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".xls"]   		{background: url('/pics/file/xls.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".xlsx"]   		{background: url('/pics/file/xls.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".ppt"]   		{background: url('/pics/file/ppt.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".pptx"]   		{background: url('/pics/file/ppt.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".pdf"]   		{background: url('/pics/file/pdf.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="archives"][href$=".rar"]   	{background: url('/pics/file/archive.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="archives"][href$=".zip"]   	{background: url('/pics/file/archive.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="archives"][href$=".7z"]   	{background: url('/pics/file/archive.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
