.slider {
width: 100%; 
position: relative;
z-index: 1;
}

.wrapper {
    max-width: 100%;
    margin: auto;
}
.jcarousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 1000%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
	min-width: 10%;
	width: 10%;
	background: none !important;
    float: left;
    position: relative;
    margin: 0!important;

}
.jcarousel li .img img {width: 100%;}

/** Carousel Controls **/
.jcarousel-control-prev .container,.jcarousel-control-next .container {position: relative;     width: 30px;
    height: 58px;}
	
.jcarousel-control-prev {
	display: block;
    position: absolute;
    top: 50%;	
    z-index: 2;
    margin-top: -29px;
}
.jcarousel-control-prev span.bg {
    background-color: #000000; 
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0.2;
}

.jcarousel-control-prev span.arrow {  
	position: absolute;  
	top: 18px;
	left: 9px;
	display: block;
	height: 23px;
    width: 12px;
    background: url(/pics/arrows/main.png) no-repeat;
    background-position: 0px 0px;
}

.jcarousel-control-next{
	display: block;
    position: absolute;
    top: 50%;	
    z-index: 2;
    margin-top: -29px;
}
.jcarousel-control-next span.bg {
    background-color: #000000; 
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0.2;
}

.jcarousel-control-next span.arrow {  
	position: absolute;  
	top: 18px;
	right: 7px;
	display: block;
	height: 23px;
    width: 12px;
    background: url(/pics/arrows/main.png) no-repeat;
    background-position: -12px 0px;

}


.jcarousel-control-prev {
    left: 10px;
}

.jcarousel-control-next {
    right: 10px;
}



.jcarousel-control-prev:hover span.bg,.jcarousel-control-next:hover span.bg {opacity: 0.8;}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;

}

/** Carousel Pagination **/

.jcarousel-pagination {
	right: 30px;
    top: 30px;
    position: absolute;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 4px;
    min-width: 4px;

    border-radius: 10px;
    padding: 3px;
    text-align: center;
    margin-right: 2px;
    border: 3px solid #1F1E1D;
    /*opacity: .75;*/
    margin: 0 3px;
    background: #FFFFFF; /* for non-css3 browsers */
	border: 3px solid #1F1E1D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.jcarousel-pagination a.active {
	background: #1F1E1D;
}	    


