.slider {
width: 100%; 
position: relative;
z-index: 1;
}

.wrapper {
    max-width: 100%;
    margin: auto;
}
.jcarousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}


/** Carousel **/
.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 1000%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
	min-width: 10%;
	width: 10%;
	background: none !important;
    float: left;
    position: relative;
    margin: 0!important;
    overflow: hidden;

}

.jcarousel .bg-container1 {
    position: relative;
    right: -50%;
    display: inline-block;
}
.jcarousel .bg-container1 img {
    display: inline-block;
    position: relative;
    left: -50%;
}

/** Carousel Controls **/
.control_container {position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
	width: 1100px;/**/
}	
	
.jcarousel-control-prev:hover, .jcarousel-control-next:hover {opacity: 1!important;}	
.slider:hover .jcarousel-control-prev, .slider:hover .jcarousel-control-next {opacity: 0.8;}	
.jcarousel-control-prev, .jcarousel-control-next {
	
	 top: 170px;/**/
	 width: 68px;/**/
     height: 68px;/**/

     opacity: 0.4;
     position: absolute;
     z-index: 2;
}



.jcarousel-control-prev {
    background: url(/pics/arrows/slider_arrow_4.png) no-repeat;/**/
    background-position: 0px 0px;
    left: 50%;
    margin-left: -550px; 
}

.jcarousel-control-next{
    background: url(/pics/arrows/slider_arrow_4.png) no-repeat;/**/
    background-position: -68px 0px;
    right: 50%;
    margin-right: -550px; 
}

.jcarousel-control-prev:hover,.jcarousel-control-next:hover {opacity: 0.8;}


.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;

}

/** Carousel Pagination **/

.jcarousel-pagination {
    top: 400px;/**/
    
    position: absolute;
    left: 50%;
    margin-left: -30px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 4px;
    min-width: 4px;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    margin-right: 2px;
    border: 3px solid #1D4F8E;
    margin: 0 3px;
    background: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.jcarousel-pagination a.active {
	background: #1D4F8E;
}	    


