* {margin: 0px; padding: 0px;}
HTML {height: 100%;}
BODY
{
	font-family: 'PFDinDisplayPro-Regular', Tahoma, sans-serif !important;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	text-align: left;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
	color: #4A4A4A;
}

a, a:visited, a:hover {color:#000; outline: none; transition: color 0.05s ease-in 0s;}
a IMG {border: none;}
h1 {font-family: 'PFDinDisplayPro-Medium', Tahoma, sans-serif !important; font-size: 28px; color: #735093; padding: 10px 0; line-height: 28px;}
h2 {font-family: 'PFDinDisplayPro-Medium', Tahoma, sans-serif !important; font-size: 28px; color: #735093; padding: 10px 0; line-height: 28px;}
h3 {font-size: 16px; color: #000; padding: 10px 0; line-height: 16px;}
.hgreen {color: #00BEA8;}


p {padding: 10px 0px;}
.overlay {width: 100%; height: 100%; display: block; z-index: 10;position: absolute; background-color: rgba(204, 204, 204, 0);}
table th {vertical-align: top;}
table td {vertical-align: top;}

.hr {border-top: 1px solid #D8D8D8; height: 1px; margin: 30px 0; clear: both;}
.hr hr {display:none;}
* html .hr {overflow: hidden;}

/*Контейнер*/
.container {box-sizing: border-box; width: 1220px; margin: 0px auto 30px; position: relative; padding: 10px 20px;background-color: #FFFFFF;}


/*Футер*/
.footer {height: 55px; background-color: #000000; position: absolute; bottom: 0; width: 100%; -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.3); left: 0;
}
.footer .container {background-color: inherit!important;}

.footer_menu {padding: 8px 0 0 300px; font-size: 16px;}
.footer_menu a {color: #FFFFFF!important; display: block; float: left; margin-right: 20px; padding-top: 10px; text-decoration: none;}
.footer_menu a:hover {text-decoration: underline;}


.footer .dev {position: absolute; top: 12px; right:50px;}

.social {position: absolute; top: 12px; left:50px;} 
.social a {background: url(/pics/social.png) no-repeat; display: inline-block; position: relative; text-indent: -9999px; width: 37px; height: 36px;}
.social a.vk 	{background-position: 0px 0px;}
.social a.fb 	{background-position: -38px 0px;}
.social a.twi 	{background-position: -76px 0px;}
.social a.yt 	{background-position: -111px 0px;}


/*Интпуты*/
input[type="text"],input[type="password"],textarea {
    border: 2px solid rgba(220, 220, 220, 1);
    box-shadow: 1px 1px 3px 1px rgba(200, 200, 200, 0.2) inset;
    color: #2980b9;
    font-size: 14px;
    outline: medium none;
    padding: 5px;
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
    width: 100%;
    margin: 5px 0;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
}


/*Кнопки*/
.mybtn {
background: none repeat scroll 0 0 #990000;
color: #FFFFFE;
cursor: pointer;
font-size: 18px;
height: 45px;
text-align: center;
text-decoration: none;
width: 150px;
border:1px solid #999999;
}



/*Хлеб. крошки*/
.mininav {padding: 11px 0 0 0; height: 30px; color: #666666; line-height: 15px;}
.mininav a {display: block; float: left; color: #666666}
.mininav a:hover {text-decoration: underline;}
/*.mininav IMG {display: inline; padding: 0 10px; padding-right: 6px; vertical-align: middle;}*/
.mininav IMG {display: block; float: left; padding: 2px 8px 0; margin-top: -5px;}
.mininav DIV {float: left; padding-top: 1px;}


/*Таблицы*/
.table-content {width: 100%; border-left: 2px solid #FFF !important; border-right: 2px solid #FFF !important; font-size: 12px; line-height: 18px; border-collapse: collapse;}
.table-content CAPTION {text-align: left; color: #000; padding-bottom: 5px; font-size: 11px; line-height: 15px; font-family: 'PFHandbookPro-Regular', Helvetica, arial, sans-serif !important;}
.table-content TH {text-align: center; font-size: 14px; color: #333333; padding: 15px 10px; background-color: #666666; color: #FFFFFF; border: 1px solid #D8D8D8; border-top: none;}
.table-content TD {padding: 10px; border-bottom: 1px solid #D8D8D8;border: 1px solid #D8D8D8;}
.table-content TD.th {color: #0CA2B8; background-color: #EAFBFF; font-weight: bold; }
.table-content P {margin: 0px !important;}
.table-content H1 {margin: 0px !important;}
.table-content.stat TH {color: #000;}
.table-content td {font-size: 14px; line-height: 17px; text-align: center;}
.table-content TH.first {border-top-left-radius: 10px;}
.table-content TH.last  {border-top-right-radius: 10px; padding-right: 10px;}
.even {background:#f7f7f7;}
.odd {}

/*Наверх*/
#toTop {
 position:fixed;
 z-index:9999;
 bottom:55px;
 right:20px;
 background: url('/pics/up.png') no-repeat;
 width: 48px;
 height: 48px;
 border: none;
 padding: 15px;
 cursor: pointer;
 color: transparent;
 text-decoration: none;
 opacity: 0.7;
}
#toTop:hover {opacity: 1;}

/*Списки*/
.styled UL {list-style: none;margin:0;}
.styled UL, OL {margin: 0px;}
.styled UL LI {position: relative; padding: 2px 0;}
.styled OL LI {margin: 10px 0px 0px 20px; background-image: none; padding: 0px;}
.styled UL LI {padding-top: 5px; line-height: 28px; background: url(/pics/ul.png) 0px 8px no-repeat;  padding-left: 30px; margin-left: 0px;}
.styled OL UL, OL OL, UL UL, UL OL {margin: 0px 0px 0px 40px;}
.styled LI a.active {text-decoration: none; font-weight: bold;}

