.clear {clear: both; height: 0px; overflow: hidden;}
.col {float: left;  box-sizing: border-box;}
.delimeter {border-top: 1px solid #D8D8D8; height: 1px; clear: both; margin: 10px 0;}

.nopad {padding:0;}
.nomar {margin:0;}
.nodecor {text-decoration: none;}
.decor {text-decoration: underline !important;}
.rel {position: relative;}
.bold {font-weight: bold;}
.italic {font-style: italic;}
.normal {font-weight: normal !important;}
.fright {float: right;}
.fleft {float: left;}
.center {text-align: center;}
.left {text-align: left;}
.imgbord {border: 1px solid #D3D3D3}


.noresize {resize: none;}/*textarea*/
.nobr {white-space: nowrap} 

/*Воздух*/
.air {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;display: block;width: 100%;}
.air.p5 {height: 5px;}
.air.p10 {height: 10px;}
.air.p20 {height: 20px;}
.air.p30 {height: 30px;}
.air.p40 {height: 40px;}
.air.p50 {height: 50px;}
.air.p60 {height: 60px;}
.air.p70 {height: 70px;}
.air.p80 {height: 80px;}
.air.p80 {height: 90px;}
.air.p100 {height: 100px;}

/*Файлы*/
a[title*="file"]				    {background: url('/pics/file/file.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".doc"]   	{background: url('/pics/file/doc.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".docx"]  	{background: url('/pics/file/doc.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".xls"]   	{background: url('/pics/file/xls.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".xlsx"]   	{background: url('/pics/file/xls.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".ppt"]   	{background: url('/pics/file/ppt.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".pptx"]   	{background: url('/pics/file/ppt.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".pdf"]   	{background: url('/pics/file/pdf.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".rar"]   	{background: url('/pics/file/archive.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".zip"]   	{background: url('/pics/file/archive.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
a[title*="file"][href$=".7z"]   	{background: url('/pics/file/archive.png') no-repeat; line-height: 20px; padding: 4px 0 8px 35px; display: block;}
