.view_type {float: right; padding: 10px; height: 30px;}
.view_type div {float: left; margin-right: 10px;}
.view_type a {background: url(/pics/view/view.png) no-repeat; display: block; width: 14px; height: 14px; float: left; margin: 2px 7px;}
.view_type a.tile {background-position: 0px 0px;}
.view_type a.tile_big {background-position: -14px 0;}
.view_type a.list {background-position: -28px 0;}
.view_type a.tile.active {background-position: 0px -14px;}
.view_type a.tile_big.active {background-position: -14px -14px;}
.view_type a.list.active {background-position: -28px -14px;}


.sort_type { float: right; padding: 10px;}
.sort_type div {float: left; padding-right: 20px;}
